//variables
$color_principal: #3e043c;

$textos: (
    titulo-portada-index: 90px, 
    titulo-paginas: 50px,
    encabezados-h2: 25px,
    );

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: grid;
    grid-template-rows: auto 400px;
}


//HEADER
#header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    position: absolute;
    z-index: 2;

    //logo
    .container-logo{
        width: 14%;

        a{
            margin-left: 45px;
            width: 100%;
            height: 100%;

            img{
                transform: scale(0.85);
            }
        }
    }

        //nav
        .header__navegacion{
            width: 86%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-self: flex-end;
            justify-content: flex-end;

            //desplegagle, visto solo para moviles
            .boton__menu{
                display: none;
            }

            ul{
                list-style: none;
                display: flex;

                //enlaces
                a{
                    text-decoration: none;
                    margin: 0px 8px;
                    padding: 10px 5px;
                    color: white;

                    &:hover{
                        border-bottom: 4px solid $color_principal;
                    }
                }
            }
        }
}

main{
    grid-row: 1;
}

//-------PORTADAS--------

.portada{
    grid-row: 1;
    width: 100%;
    overflow: hidden;
    position: relative;

    article{
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        //imagen de portada
        .portada__img{
            width: 140%;
        }
    }

    // contenedor de texto
    .portada__texto{
        width: 100%;
        height: 100%;
        background-color: rgb(62, 4, 60, 70%);
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        //texto de portada
        .portada__titulo{
            font-size: map-get($textos , titulo-paginas);
            color: white;
            padding: 0px 15px;
            margin: 15px 0px 0px 0px;
            animation-name: desplazamiento;
            animation-duration: 2s;
        } 

        span{
            font-size: 20px;
            color: white; 
            padding: 0px 15px;
            margin: 15px 0px 0px 0px;
            animation-name: desplazamiento;
            animation-duration: 2.5s;
        }

        .portada__enlace{
            margin: 15px 0px 0px 0px;
            padding: 20px;
            color: white;
            text-decoration: none;
            background-color: #3e043c;
            font-size: 20px;
            border-radius: 15px;
            animation-name: desplazamiento;
            animation-duration: 35;

            &:hover{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }

        @keyframes desplazamiento {
            0% {transform: translateY(1000px); color: rgb(255, 255, 255, 0%);}
            50% {color: rgb(255, 255, 255, 0%);}
            100% {transform: translateY(0px); color: rgb(255, 255, 255, 100%)}
        }
        
    }
}

//portada del index.html

#portada_principal{
    @extend .portada;
    height: 550px;

    .portada__texto{
        .portada__titulo-index{
            font-size: map-get($textos , titulo-portada-index);
            color: white;
            animation-name: desplazamiento;
            animation-duration: 2s;
        }
    }
}

//portada del resto de las paginas
#portada{
    @extend .portada;
    height: 350px;
}

//-------------------------INDEX--------------------//
#container{
    width: 100%;

    article{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .items{
            width: 95%;
            height: 300px;
            display: flex;
            padding: 5px;
            margin: 30px 0px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
            &:hover{
                box-shadow: none;
                transform: scale(0.99);
            }
        }

        //texto
        .container__text{
            width: 60%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #3e043c;
            align-self: center;
            padding: 20px;
            border-radius: 10px;
            margin: 0px 30px;

            span{
                color: rgb(255, 255, 255);
                font-size: 30px;
                margin-bottom: 10px;
            }

            p{
                color: rgb(255, 255, 255);
                font-size: 18px;
                text-align: center;
            }
        }

        //imagen svg
        .container__img{
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                height: 90%;
            }
            
        }

        //experiencia
        .container__experiencia{
            @extend .items;
        }

        //precios
        .container__precios{
            @extend .items;
            flex-direction: row-reverse;
        }

        //seguridad
        .container__seguridad{
            @extend .items;
        }
    }
}

//OPINIONES
#opiniones{  
    height: 600px;
    width: 100%;

    article{
        width: 100%;
        height: 100%;
        background-color: #3e043c;
        align-items: center;
        padding: 20px 0px;

        .opiniones__titulo{
            grid-column: 1/5;
            grid-row: 1;
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: map-get($textos , encabezados-h2 );
        }

        .container{
            display: grid;
            grid-template-columns: repeat(4, 25%);
            height: 90%;
            width: 100%;
            align-items: center;
            padding: 10px 35px;
            }

            .opiniones{
                width: 95%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgba(255, 255, 255, 5%) ;
                border-radius: 20px;
                margin: 10px;
                justify-self: center;

                &:hover{
                    transform: scale(1.05);
                }
            }

            //contenedor de opiniones
            .opiniones__comentarios__uno{
                @extend .opiniones;
                grid-column: 1;
            }

            .opiniones__comentarios__dos{
                @extend .opiniones;
                grid-column: 2;
            }

            .opiniones__comentarios__tres{
                @extend .opiniones;
                grid-column: 3;
            }

            .opiniones__comentarios__cuatro{
                @extend .opiniones;
                grid-column: 4;
            }

            //contenedor de avatar y nombre
            .container__img__nombre{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                //avatar
                .container__img{
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    margin-top: 30px;

                    .avatar{
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                //nombre
                span{
                    color: #3e043c;
                    background-color: white;
                    margin: 30px 0px ;
                    font-size: 18px;
                    padding: 0px 10px;
                    border-radius: 5px;
                }
            }
        }

         //comentario
        p{
            color: white;
            text-align: center;
            font-size: 15px;
            padding: 0px 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
}

//CONTACTO
#contacto{
    width: 100%;
    padding: 30px 0px;

    //titulo
    h2{
        text-align: center;
        color: rgb(0, 0, 0);
        margin: 20px;
        font-size: map-get($textos , encabezados-h2 );

    }

    //contenedor form e imagen
    .contacto__formulario{
        display: flex;
        align-items: center;

        //imagen
        div{
            width: 50%;
            margin: 6px;
            height: 100%;

            img{
                width: 100%;
            }
        }

        //formulario
        form{
            width: 50%;
            height: 500px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 15px;
            margin-right: 25px;
            background-color: $color_principal;
            border-radius: 15px; 
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
            label{
                color: white;
                font-size: 13px;
            }

            .entrada{
                height: 35px;
                padding: 0px 10px;
                border-radius: 6px;
                outline: none;
                border: none;
            }

            textarea{
                padding: 10px 10px;
                border-radius: 6px;
                min-width: 100%;
                min-height: 40%;
                outline: none;
                border: none;
            }

            .form__boton{
                height: 35px;
                margin-top: 10px;
                border-radius: 6px;
                outline: none;
                border: none;
            }
        }
    }
}



//-------------------------CELULARES Y TABLETS, ACCESORIOS--------------------//


.style_main{
    padding-top: 10px;
    background-color: #3e043c;

    article{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.style_de_items{
    display: flex;
    width: 45%;
    height: 200px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    background-color: white;
    align-items: center;

    &:hover{
        transform: scale(1.009);
    }

    //imagen de producto
    .container__img {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: 60%;
        }
    }

    //datos de productos
    .container_text{
        display: flex;
        flex-direction: column;
        width: 50%;

        .container_text .precio{
            font-size: 25px;
        }

        .envio{
            color: white;
            background-color: #3e043c;
            width: 100px;
            padding: 2px;
            margin: 7px 0px;
            border-radius: 5px;
            text-align: center;
            font-size: 15px;
        }

        .producto{
            font-size: 15px;
        }
    }
}

//celulares_y_tablets.html
#container__items{
    @extend .style_main ;

    .container{
    @extend .style_de_items;
    }
}

//accesorios.html
#container__items__auriculares{
    @extend .style_main ;

    .container{
    @extend .style_de_items;
    }
}

//-------------------------COMO_COMPRAR.HTML--------------------//
#comprar{
    width: 100%;

    article{
        padding: 10px;
        display: flex;
        align-items: center;

        .compras__contenedor{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;

            .comprar__pasos{
                display: flex;
                height: 250px;
                width: 95%;
                padding: 10px;
                margin: 20px 0px;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
               
                //contenedor de imagen
                .comprar__pasos_img{
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        height: 100%;
                    }
                }

                //contenedor de texto
                .comprar__pasos_txt{
                    width: 60%;
                    background-color: #3e043c;
                    border-radius: 10px;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .titulo{
                        color: white;
                        font-size: 25px; 

                        .titulo__paso{
                            font-size: 35px;
                            background-color: white;
                            color: #3e043c;
                            border-radius: 4px;
                            padding: 2px 10px;
                        }
                    }

                    .explicacion{
                        color: white;
                        padding: 20px;
                    }
                }
            }
        }
        
    }
}

//-------------------------SOBRE NOSOTROS--------------------//

#inicios{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px;

    .styles-container{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 10px 0px 30px 0px;

        .titulo{
            text-align: center;
            margin-bottom: 20px;
        }

        .parrafo{
            text-align: justify;
            font-size: 17px;
        }
    }

    .inicio{
        @extend .styles-container;
    }

    .objetivos{
        @extend .styles-container;
    }

    .que_te_ofrecemos{
        @extend .styles-container;
    }

}



//FOOTER
#pie{
    grid-row: 2;
    background-color: $color_principal;
    display: flex;
    height: 400px;
    width: 100%;
    
    .pie-style{
        width: 33.33%;
        height: 100%;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
    }

    //stilos de titulos de footer
    .titulo{
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    //stilos de parrafos de footer
    .informacion{
        color: white;
        font-size: 12px;
        margin-bottom: 20px;
    }

    //contenedor footer izquierdo
    .pie__izquierdo{
        @extend .pie-style;
    }

    //contenedor footer centro
    .pie__centro{
        @extend .pie-style;

        //contenedor footer centro redes
        .pie__centro__redes{
            height: 40%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            //lista de enlaces
            .container__redes{
                display: flex;
                padding-bottom: 20px;
                list-style: none;
                
                //enlaces
                a{
                    color: white;
                    font-size: 30px;
                    margin-right: 20px;

                    &:hover{
                        color: #50054e;
                    }
                }
            }
        }

        //contenedor footer centro secciones
        .pie__centro__secciones{
            height: 60%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            //contenedor footer centro secciones
            .container__seccion{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                height: 90%;
                margin-top: 15px;
                list-style: none;
                justify-content: space-between;

                //enlaces
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 12px;

                    &:hover{
                        color: #cecece;
                    }
                }
            }
        }
    }

    .pie__derecho{
        @extend .pie-style;

        form{
            display: flex;
            width: 100%;
            flex-direction: column;

            input{
                width: 100%;
                height: 30px;
                padding: 0px 5px;
            }

            button{
                margin-top: 5px;
                width: 100%;
                height: 25px;
                background: none;
                border: 2px solid white;
                color: white;
            }
        }
    }
}


    















