
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    color: var(--color-principal, #3e043c);
}


body{
    display: grid;
    grid-template-rows: auto 400px;
}



/*--------------------HEADER-------------------*/

#header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    position: absolute;
    z-index: 2;
}

/*--------------------logo-------------------*/

#header  a{
    margin-left: 45px;
}

/*--------------------nav-------------------*/


#header .header__navegacion{
    width: 86%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 20px;
}

#header .header__navegacion ul li a:visited{
    border-bottom: 3px solid #ffffff;
}

#header .header__navegacion ul li a:hover{
    border-bottom: 3px solid #3e043c;
}




/*--------------------desplegable, solo para pantallas-------------------*/


#header .header__navegacion .boton__menu{
    display: none;
}

#header .header__navegacion ul{
    list-style: none;
    display: flex;
}

#header .header__navegacion a{
    text-decoration: none;
    margin: 0px 8px;
    padding: 10px 5px;
    color: white;
}


/*--------------------PORTADA (comun a todas la paginas)-------------------*/

main{
    grid-row: 1;
}

#portada{
    grid-row: 1;
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#portada article{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#portada article .portada__img{
    width: 140%;
}

/*--------------------contenedor de texto de portada-------------------*/


#portada .portada__texto{
    width: 100%;
    height: 100%;
    background-color: rgb(62, 4, 60, 70%);
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#portada .portada__texto .portada__titulo{
    font-size: 75px;
    color: white;
    padding: 0px 15px;
    margin: 15px 0px 0px 45px;
    animation-name: desplazamiento;
    animation-duration: 2s;
} 


#portada .portada__texto span{
    font-size: 20px;
    color: white; 
    padding: 0px 15px;
    margin: 15px 0px 0px 45px;
    animation-name: desplazamiento;
    animation-duration: 2.5s;
}

#portada .portada__texto .portada__enlace{
    margin: 15px 0px 0px 55px;
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: #3e043c;
    font-size: 20px;
    border-radius: 15px;
    animation-name: desplazamiento;
    animation-duration: 35
}

@keyframes desplazamiento {
    0% {transform: translateX(1000px); color: rgb(255, 255, 255, 0%);}
    50% {color: rgb(255, 255, 255, 0%);}
    100% {transform: translateX(0px); color: rgb(255, 255, 255, 100%)}
}

/*-------------------------INDEX.html-----------------------------------------------------*/

#container{
    width: 100%;
}

#container article{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#container .container__experiencia{
    width: 95%;
    height: 300px;
    display: flex;
    padding: 5px;
    margin: 30px 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#container .container__precios{
    width: 95%;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    margin: 30px 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#container .container__seguridad{
    width: 95%;
    height: 300px;
    display: flex;
    padding: 5px;
    margin: 30px 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#container article > div:hover{
    box-shadow: none;
    transform: scale(0.99);
}

/*-----container img-----*/

#container .container__img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container  .container__img img{
    height: 90%;
}

/*-----container texto-----*/

#container  .container__text{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3e043c;
    align-self: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0px 30px;
}

#container .container__text span{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-bottom: 10px;
}

#container  .container__text p{
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
}

/*--------------------OPINIONES-------------------*/

#opiniones{  
    height: 500px;
    
}

#opiniones article{
    width: 100%;
    height: 100%;
    background-color: #3e043c;
    align-items: center;
    padding: 20px 0px;
}

#opiniones .container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    height: 100%;
    align-items: center;
    padding: 10px 35px;
}

/*-------------------- titulo -------------------*/

#opiniones .opiniones__titulo{
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

/*-------------------- contenedor de opiniones -------------------*/

#opiniones  .opiniones__comentarios__uno{
    grid-column: 1;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 5%) ;
    border-radius: 20px;
    margin: 10px;
    justify-self: center;
}

/*--------------- contenedor de opniones --------*/ 

#opiniones  article .container__img__nombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#opiniones .opiniones__comentarios__dos{
    grid-column: 2;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 5%) ;
    border-radius: 20px;
    justify-self: center;
}


#opiniones .opiniones__comentarios__tres{
    grid-column: 3;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 5%) ;
    border-radius: 20px;
    justify-self: center;
}

#opiniones .opiniones__comentarios__cuatro{
    grid-column: 4;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 5%) ;
    border-radius: 20px;
    justify-self: center;
}

#opiniones .container > div:hover{
    transform: scale(1.05);
}

/*--------- contenedor de imagen --------*/

#opiniones div .container__img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#opiniones  div .avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

/*------------ nombre -----------*/

#opiniones  div span{
    color: #3e043c;
    background-color: white;
    margin: 30px 0px ;
    font-size: 18px;
    padding: 0px 10px;
    border-radius: 5px;
}

/*------------ comentario -----------*/

#opiniones  div p{
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
}




/*-------------------- CONTACTO -------------------*/

#contacto{
    width: 100%;
    padding: 30px 0px;
}

/*-------------- titulo --------------*/
#contacto  h2{
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 20px;
    font-size: 25px;
    
}

/*---------- contenedor form e imagen ----------*/

#contacto .contacto__formulario{
    display: flex;
    align-items: center;
}

/*---------- contenedor img ----------*/

#contacto .contacto__formulario div{
    width: 50%;
    margin: 6px;
    height: 100%;
}

#contacto .contacto__formulario div img{
    width: 100%;
}

/*---------- formulario ----------*/

#contacto .contacto__formulario form{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    margin-right: 25px;
    background-color: #3e043c;
    border-radius: 15px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#contacto .contacto__formulario form label{
    color: white;
    font-size: 13px;
}

#contacto .contacto__formulario .entrada{
    height: 35px;
    padding: 0px 10px;
    border-radius: 6px;
    outline: none;
    border: none;
}

#contacto .contacto__formulario textarea{
    padding: 10px 10px;
    border-radius: 6px;
    min-width: 100%;
    min-height: 40%;
    outline: none;
    border: none;
}

#contacto .contacto__formulario form .form__boton{
    height: 35px;
    margin-top: 10px;
    border-radius: 6px;
    outline: none;
    border: none;
}


/*------------------------- CELULARES_Y_TABLETS.html----------------------------------------------*/

#container__items{
    padding-top: 10px;
    background-color: #3e043c;
}


#container__items article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#container__items h2{
    text-align: center;
    color: white;
    width: 100%;
    margin: 15px;
}

/*--------- contenedor producto ------*/


#container__items .container{
    display: flex;
    width: 45%;
    height: 200px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    background-color: white;
    align-items: center;
    position: relative;
}

#container__items .container:hover{
    transform: scale(1.009);
}



/*--------- imagen de producto ------*/


#container__items .container .container__img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container__items .container .container__img img{
    height: 60%;
}

/*--------- datos de producto ------*/


#container__items .container .container_text{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#container__items .container .container_text .precio{
    font-size: 25px;
}

#container__items .container .container_text .envio{
    color: white;
    background-color: #3e043c;
    width: 100px;
    padding: 2px;
    margin: 7px 0px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}

#container__items .container .container_text .producto{
    font-size: 15px;
}


/*-------------------------MAIN ACCESORIOS----------------------------------------------*/

/*auriculares*/

#container__items__auriculares{
    padding-top: 10px;
    background-color: #3e043c;
}


#container__items__auriculares article{
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

#container__items__auricularess h2{
    text-align: center;
    color: white;
    width: 100%;
    margin: 15px;
}

#container__items__auriculares article .container{
    display: flex;
    width: 45%;
    height: 200px;
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    align-items: center;
}

#container__items__auriculares article .container:hover{
    transform: scale(1.009);
}

#container__items__auriculares .container .container__img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container__items__auriculares .container .container__img img{
    width: 50%;
}

#container__items__auriculares .container .container_text{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#container__items__auriculares .container .container_text .precio{
    font-size: 25px;
}

#container__items__auriculares .container .container_text .envio{
    color: white;
    background-color: #3e043c;
    width: 100px;
    padding: 2px;
    margin: 7px 0px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}

#container__items__auricularess .container .container_text .producto{
    font-size: 15px;
}

/*-------------------------MAIN ¿COMO COMPRAR?----------------------------------------------*/

#comprar{
    width: 100%;
}

#comprar article{
    padding: 10px;
    display: flex;
    align-items: center;
}

#comprar h2{
    text-align: center;
}

#comprar .compras__contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#comprar .compras__contenedor .comprar__pasos{
    display: flex;
    height: 250px;
    width: 95%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*contenedor de imagen*/

#comprar .compras__contenedor .comprar__pasos .comprar__pasos_img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comprar .compras__contenedor .comprar__pasos .comprar__pasos_img img{
    height: 100%;
}

/*contenedor de texto*/

#comprar .compras__contenedor .comprar__pasos .comprar__pasos_txt{
    width: 60%;
    background-color: #3e043c;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#comprar .compras__contenedor .comprar__pasos .comprar__pasos_txt .titulo{
    color: white;
    font-size: 2vw;
    
}

#comprar .compras__contenedor .comprar__pasos .comprar__pasos_txt .titulo .titulo__paso{
    font-size: 3vw;
    background-color: white;
    color: #3e043c;
    border-radius: 4px;
    padding: 2px 10px;
}

#comprar .compras__contenedor .comprar__pasos .comprar__pasos_txt .explicacion{
    color: white;
    padding: 20px;
}


/*-------------------------MAIN SOBRE NOSOTROS----------------------------------------------*/

#inicios{
    width: 100%;
}

#inicios article{
    background-color: #3e043c;
    padding: 50px;
    width: 100%;
}

#inicios h2{
    text-align: center;
    color: white;
}

#inicios .inicios__parrafo{
    color: white;
    text-align: center;
    padding: 20px;
}


/*que te ofrecemos*/

#ofrecemos{
    height: 650px;
    grid-row: 3;
    padding: 40px 0px;
    background-color: #3e043c;
}

#ofrecemos article{
    height: 650px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #3e043c;
}

#ofrecemos h2{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

#ofrecemos .container{
    display: flex;
    width: 100%;
    
    
}

#ofrecemos .ofrecemos__contenedor{
    width: 25%;
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#ofrecemos .ofrecemos__contenedor_img{
    width: 100%;
    display: flex;
    justify-content: center;
}

#ofrecemos .ofrecemos__contenedor_img img{
    width: 40%;
    margin: 15px;
}

#ofrecemos .ofrecemos__contenedor .ofrecemos__texto{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
}

#ofrecemos .ofrecemos__contenedor .ofrecemos__texto .titulo{
    color: white;
    font-size: 2vw;
    text-align: center;
}

#ofrecemos .ofrecemos__contenedor .ofrecemos__texto .parrafo{
    color: white;
    padding: 10px 0px;
    text-align: center;
}

#ofrecemos h2{
    text-align: center;
    color: white;
}

#ofrecemos .inicios__parrafo{
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}


/*--------------------FOOTER-------------------*/

#pie{
    grid-row: 2;
    background-color: #3e043c;
    display: flex;
    height: 400px;
    width: 100%;
    
}

#pie .titulo{
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#pie .informacion{
    color: white;
    font-size: 12px;
}

/*--------------------FOOTER__DERECHO-------------------*/


#pie .pie__izquierdo{
    width: 33.33%;
    height: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*--------------------FOOTER__CENTRO-------------------*/

#pie .pie__centro{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    width: 33.33%;
    height: 100%;
    align-items: center;
}

#pie .pie__centro .pie__centro__redes{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#pie .pie__centro .pie__centro__redes .container__redes{
    display: flex;
    padding-bottom: 20px;
    
}

#pie .pie__centro .pie__centro__redes .container__redes a{
    color: white;
    font-size: 30px;
    margin-right: 20px;
}

#pie .pie__centro .pie__centro__secciones{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#pie .pie__centro .pie__centro__secciones .container__seccion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 90%;
    margin-top: 15px;
}

#pie .pie__centro .pie__centro__secciones .container__seccion a{
    color:  white;
    text-decoration: none;
    font-size: 12px;

}


/*--------------------FOOTER__IZQUIERDO-------------------*/

#pie .pie__derecho{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    width: 33.33%;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}

#pie .pie__derecho form{
    display: flex;
    width: 100%;
}

#pie .pie__derecho form input{
    width: 70%;
    height: 25px;
    padding: 0px 5px;
}

#pie .pie__derecho form button{
    width: 30%;
    height: 25px;
}


/*-------RESPUESTA A CELULARES-------*/

@media screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    :root{
        color: var(--color-principal, #3e043c);
    }
    
    
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }   

        /*--------------------HEADER-------------------*/

    #header{
        margin-top: 10px;
        display: flex;
        align-items: center;
        height: 65px;
        width: 100%;
        position: absolute;
        z-index: 2;
    }

    /*--------------------logo-------------------*/

    #header  a{
        margin-left: 15px;
    }

    /*--------------------nav-------------------*/


    #header .header__navegacion{
        width: 86%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    /*--------------------desplegable, solo para pantallas-------------------*/


    #header .header__navegacion .boton__menu{
        display: flex;
        align-items: center;
        height: 40px;
        width: 40px;
        justify-content: center;
        margin-right: 5px;
    }

    #header .header__navegacion .boton__menu span{
        color: white;
        font-size: 40px;
        height: 40px;
        width: 40px;
    }

    #header .header__navegacion ul{
        list-style: none;
        display: none;
        flex-direction: column;
        background-color: #3e043c;
        height: 400px;
        width: 100%;
        position: absolute;
        justify-self: center;
    }

    #header .header__navegacion ul li{
        height: 30px;
    }

    #header .header__navegacion a{
        text-decoration: none;
        margin: 0px 8px;
        padding: 10px 5px;
        color: white;
    }

    /*--------------------PORTADA (comun a todas la paginas)-------------------*/

    main{
        grid-row: 1;
    }

    #portada{
        grid-row: 1;
        height: 550px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    #portada article{
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #portada article .portada__img{
        object-fit: cover;
        height: 100%;
    }

    /*--------------------contenedor de texto de portada-------------------*/


    #portada .portada__texto{
        width: 100%;
        height: 100%;
        background-color: rgb(62, 4, 60, 70%);
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #portada .portada__texto .portada__titulo{
        font-size: 55px;
        color: white;
        padding: 0px 15px;
        text-align: center;
        width: 100%;
        margin: 10px 0px;
        animation-name: desplazamiento;
        animation-duration: 1.5s;
    }

    #portada .portada__texto span{
        font-size: 20px;
        color: white; 
        padding: 0px 15px;
        width: 100%;
        text-align: center;
        margin: 10px 0px;
        animation-name: desplazamiento;
        animation-duration: 2s;
    }

    #portada .portada__texto .portada__enlace{
        padding: 20px;
        color: white;
        text-decoration: none;
        background-color: #3e043c;
        font-size: 20px;
        border-radius: 15px;
        margin: 10px 0px;
        animation-name: desplazamiento;
        animation-duration: 2.5s;
    }

    @keyframes desplazamiento {
        0% {transform: translateY(1000px); color: rgb(255, 255, 255, 0%);}
        50% {color: rgb(255, 255, 255, 0%);}
        100% {transform: translateY(0px); color: rgb(255, 255, 255, 100%)}
    }

    /* secciones de "experiencia", "precios bajos" y "seguridad*/

    #container{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
    }
    
    #container .container__experiencia{
        width: 85%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
    }
    
    #container .container__precios{
        width: 85%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
    }
    
    #container .container__seguridad{
        width: 85%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
    }
    
    /*-----container img-----*/
    
    #container .container__img{
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #container  .container__img img{
        height: 80%;
    
    }
    
    /*-----container texto-----*/
    
    #container  .container__text{
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #3e043c;
        align-self: center;
        padding: 30px;
        border-radius: 10px;
    }
    
    #container  .container__text span{
        color: rgb(255, 255, 255);
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    #container  .container__text p{
        color: rgb(255, 255, 255);
        font-size: 18px;
        text-align: center;
    }

        

    /*--------------------OPINIONES-------------------*/

    #opiniones{ 
        width: 100%;
        display: flex;
        height: 600px;
    }

    #opiniones article{
        background-color: #3e043c;
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #opiniones .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: scroll;
    }


    /*-------------------- titulo -------------------*/

    #opiniones .opiniones__titulo{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }

    /*-------------------- contenedor de opiniones -------------------*/

    #opiniones  .opiniones__comentarios__uno{
        width: 250px; 
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 5%) ;
        border-radius: 20px;
        height: 400px;
        position: absolute;
        margin: 0;
    }

    /*--------------- contenedor de opniones --------*/ 

    #opiniones  article .container__img__nombre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #opiniones .opiniones__comentarios__dos{
        width: 250px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 5%) ;
        border-radius: 20px;
        position: absolute;
        transform: translateX(280px);
        margin: 0;
    }

    #opiniones .container .opiniones__comentarios__tres{
        width: 250px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 5%) ;
        border-radius: 20px;
        position: absolute;
        transform: translateX(560px);
        margin: 0;
    }

    #opiniones .opiniones__comentarios__cuatro{
        width: 250px;
        height: 400px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 5%) ;
        border-radius: 20px;
        position: absolute;
        transform: translateX(840px);

    }

    /*--------- contenedor de imagen --------*/

    #opiniones div .container__img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    #opiniones  div .avatar{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
    }

    /*------------ nombre -----------*/

    #opiniones  div span{
        color: #3e043c;
        background-color: white;
        margin: 30px 10px ;
        font-size: 20px;
        padding: 0px 10px;
        border-radius: 5px;
        text-align: center;
    }

    /*------------ comentario -----------*/

    #opiniones  div p{
        color: white;
        text-align: center;
        font-size: 15px;
        padding: 0px 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

        /*-------------------- CONTACTO -------------------*/

    #contacto{
        width: 100%;
    }


    /*-------------- titulo --------------*/
    #contacto  h2{
        text-align: center;
        color: rgb(0, 0, 0);
        margin: 20px;
        font-size: 20px;
    }

    /*---------- contenedor form e imagen ----------*/

    #contacto .contacto__formulario{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*---------- contenedor img ----------*/

    #contacto .contacto__formulario div{
        display: none;
        
    }


    /*---------- formulario ----------*/

    #contacto .contacto__formulario form{
        width: 95%;
        height: 500px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 15px;
        margin: 0%;
        background-color: #3e043c; 
        border-radius: 10px;
    }

    #contacto .contacto__formulario form label{
        color: white;
        font-size: 13px;
    }

    #contacto .contacto__formulario .entrada{
        height: 35px;
        padding: 0px 10px;
        border-radius: 6px;
        outline: none;
        border: none;
    }

    #contacto .contacto__formulario textarea{
        padding: 10px 10px;
        border-radius: 6px;
        min-width: 100%;
        min-height: 40%;
        outline: none;
        border: none;
    }

    #contacto .contacto__formulario form .form__boton{
        height: 35px;
        margin-top: 10px;
        border-radius: 6px;
        outline: none;
        border: none;
    }

    /*------------------------- CELULARES_Y_TABLETS.html----------------------------------------------*/

    #container__items{
        padding-top: 10px;
        background-color: #3e043c;
        padding: 20px 0px;
    }


    #container__items article{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #container__items h2{
        text-align: center;
        color: white;
        width: 100%;
        margin: 15px;
    }

    /*--------- contenedor producto ------*/


    #container__items .container{
        display: flex;
        width: 90%;
        height: 180px;
        margin: 5px;
        padding: 5px;
        border-radius: 8px;
        background-color: white;
        align-items: center;
    }

    /*--------- imagen de producto ------*/


    #container__items .container .container__img {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container__items .container .container__img img{
        height: 60%;
    }

    /*--------- datos de producto ------*/


    #container__items .container .container_text{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #container__items .container .container_text .precio{
        font-size: 25px;
    }

    #container__items .container .container_text .envio{
        color: white;
        background-color: #3e043c;
        width: 100px;
        padding: 2px;
        margin: 7px 0px;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
    }

    #container__items .container .container_text .producto{
        font-size: 15px;
    }


    
    /*-------------------------MAIN ACCESORIOS----------------------------------------------*/

    /*auriculares*/

    #container__items__auriculares{
        width: 100%;
        background-color: #3e043c;
    }


    #container__items__auriculares article{
        padding-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    #container__items__auricularess h2{
        text-align: center;
        color: white;
        width: 100%;
        margin: 15px;
    }

    #container__items__auriculares article .container{
        display: flex;
        width: 90%;
        height: 200px;
        margin: 5px;
        padding: 8px;
        border-radius: 8px;
        background-color: white;
        align-items: center;
    }

    

    #container__items__auriculares .container .container__img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container__items__auriculares .container .container__img img{
        width: 50%;
    }

    #container__items__auriculares .container .container_text{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #container__items__auriculares .container .container_text .precio{
        font-size: 25px;
    }

    #container__items__auriculares .container .container_text .envio{
        color: white;
        background-color: #3e043c;
        width: 100px;
        padding: 2px;
        margin: 7px 0px;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
    }

    #container__items__auricularess .container .container_text .producto{
        font-size: 15px;
    }


    /*-------------------------MAIN ¿COMO COMPRAR?-------------------------------------*/

    #comprar{
        width: 100%;
    }

    #comprar article{
        padding: 10px;
        display: flex;
        align-items: center;
    }

    #comprar h2{
        text-align: center;
    }

    #comprar .compras__contenedor{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #comprar .compras__contenedor .comprar__pasos{
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 95%;
        padding: 0%;
    }

    /*contenedor de imagen*/

    #comprar .compras__contenedor .comprar__pasos .comprar__pasos_img{
        width: 100%;
        height: 50%;
        display: none;
        justify-content: center;
        align-items: center;

    }

    #comprar .compras__contenedor .comprar__pasos .comprar__pasos_img img{
        height: 50%;
    }

    /*contenedor de texto*/

    #comprar .compras__contenedor .comprar__pasos .comprar__pasos_txt{
        width: 100%;
        height: 100%;
        background-color: #3e043c;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #comprar .compras__contenedor .comprar__pasos .comprar__pasos_txt .titulo{
        color: white;
        font-size: 20px;
    }

    #comprar .compras__contenedor .comprar__pasos .comprar__pasos_txt .titulo .titulo__paso{
        font-size: 25px;
        background-color: white;
        color: #3e043c;
        border-radius: 4px;
        padding: 2px 10px;
    }

    #comprar .compras__contenedor .comprar__pasos .comprar__pasos_txt .explicacion{
        color: white;
        padding: 20px;
        text-align: center;
    }


        /*--------------------FOOTER-------------------*/

    #pie{
        grid-row: 2;
        background-color: #3e043c;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    #pie .titulo{
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #pie .informacion{
        color: white;
        font-size: 12px;
        margin-bottom: 10px;
    }

    /*--------------------FOOTER__izquierdo-------------------*/


    #pie .pie__izquierdo{
        width: 100%;
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /*--------------------FOOTER__CENTRO-------------------*/

    #pie .pie__centro{
        display: flex;
        flex-direction: column;
        padding: 5px 5px;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    #pie .pie__centro .pie__centro__redes{
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    #pie .pie__centro .pie__centro__redes .container__redes{
        display: flex;
        
    }

    #pie .pie__centro .pie__centro__redes .container__redes a{
        color: white;
        font-size: 30px;
        margin-right: 20px;
    }

    #pie .pie__centro .pie__centro__secciones{
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    #pie .pie__centro .pie__centro__secciones .container__seccion{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 90%;
        margin-top: 15px;
    }

    #pie .pie__centro .pie__centro__secciones .container__seccion a{
        color:  white;
        text-decoration: none;
        font-size: 12px;

    }


    /*--------------------FOOTER__IZQUIERDO-------------------*/

    #pie .pie__derecho{
        display: flex;
        flex-direction: column;
        padding: 5px 5px;
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;
        
    }

    #pie .pie__derecho form{
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    #pie .pie__derecho form input{
        width: 100%;
        height: 25px;
        padding: 0px 5px;
    }

    #pie .pie__derecho form button{
        width: 100%;
        height: 25px;
    }
}























